<h1 style="text-align: center;">ASL Finger Spelling</h1>
<div class="debug" ng:hide="config.is_likely_prod">
  <button ng:click="Ctrl.toggleDebug()">
    <span ng:show="config.debug_visible">hide</span>
    <span ng:hide="config.debug_visible">show</span>
    debug info
  </button>
  <pre ng:show="config.debug_visible">{{config | json}}</pre>
</div>

<div class="tools primary">
  Spell a
  <button class="btn btn-primary"
          tabindex="2"
          ng:click="Ctrl.spellPseudoRandomWord()">
    random
  </button>
  or
  <form ng:submit="Ctrl.fingerSpellWord(config.to_spell)">
    <input type="text"
           name="spell"
           tabindex="1"
           placeholder="arbitrary"
           ng:model="config.to_spell" />
   </form>
  word.
</div><!--//.tools-->

<div class="asl-spell"
     data-asl-spell="{{config.active_sign}}">
  <div class="cropper">
    <button class="respell btn btn-warning icon"
            title="Re&ndash;spell"
            ng:hide="Ctrl.signInProgress()"
            ng:click="Ctrl.fingerSpellWord(Ctrl.getLastWord())">
      &#10227;
    </button>
    <div class="finger-sign"></div>
  </div>
</div><!--//.asl-spell-->

<div class="tools secondary">
  <div class="tip">
    <span class="respell">
      <button class="btn icon"
              title="Re&ndash;spell"
              ng:class="{ 'btn-mini': !Ctrl.signInProgress(), 'btn-warning': Ctrl.signInProgress() }"
              ng:show="config.spelled_history.length"
              ng:click="Ctrl.fingerSpellWord(Ctrl.getLastWord())">
        &#10227;
      </button>
      <em class="respell-count"
          ng:class="{jzvisible: config.respell_count, jzinvisible: !config.respell_count}"
          title="re&ndash;spelled {{config.respell_count}} times">
        {{config.respell_count}}x</em>
    </span>
    <span class="active-word">
      <strong ng:show="Ctrl.signInProgress()">Being signed:</strong>
      <strong ng:hide="Ctrl.signInProgress()">Just signed:</strong>
      <span class="instructions">(hidden)</span>
      <span class="word">{{Ctrl.getLastWord()}}</span>
    </span>
  </div><!--//.tip-->

  <label for="speed">
    <button asl-txt-img
            class="btn slower"
            ng:click="Ctrl.increaseLetterDelay()"
            ng:disable="!Ctrl.increaseLetterDelayPossible()">
      slower fingerspelling</button>
    <input type="number"
           name="speed"
           step="{{config.letter_delay_step}}"
           min="{config.letter_delay_step}}"
           max="{{letter_delay_max}}"
           ng-model="config.letter_delay"/>
    seconds per letter
    <button asl-txt-img
            class="btn faster"
            ng:click="Ctrl.decreaseLetterDelay()"
            ng:disable="!Ctrl.decreaseLetterDelayPossible()">
      faster fingerspelling</button>
  </label>
  <p class="history"
     ng:show="config.spelled_history.length">
    {{config.spelled_history.length}} words spelled.
  </p>
</div><!--//.tools-->
