<h1 style="text-align: center;">ASL Finger Spelling</h1>
<div class="debug">
  <button ng:click="toggleDebug()">
    <span ng:show="debug_visible">hide</span>
    <span ng:hide="debug_visible">show</span>
    debug info
  </button>
  <pre ng:show="debug_visible">{{config | json}}</pre>
</div>

<div class="tools primary">
  Spell a
  <button class="btn btn-primary"
          tabindex="2"
          ng:click="spellPseudoRandomWord()">
    random
  </button>
  or
  <form ng:submit="fingerSpellWord(config.to_spell)">
    <input type="text"
           name="spell"
           tabindex="1"
           placeholder="arbitrary"
           ng:model="config.to_spell" />
   </form>
  word.
</div><!--//.tools-->

<div class="asl-spell"
     data-asl-spell="{{config.active_sign}}">
  <div class="cropper">
    <button class="respell btn btn-warning icon"
            title="Re&ndash;spell"
            ng:hide="signInProgress()"
            ng:click="fingerSpellWord(getLastWord())">
      &#10227;
    </button>
    <div class="finger-sign"></div>
  </div>
</div><!--//.asl-spell-->

<div class="tools secondary">
  <div class="tip">
    <span class="respell">
      <button class="btn icon"
              title="Re&ndash;spell"
              ng:class="{ 'btn-mini': !signInProgress(), 'btn-warning': signInProgress() }"
              ng:show="config.spelled_history.length"
              ng:click="fingerSpellWord(getLastWord())">
        &#10227;
      </button>
      <em ng:class="{jzvisible: respell_count, jzinvisible: !respell_count}"
          title="re&ndash;spelled {{respell_count}} times">
        {{respell_count}} x</em>
    </span>
    <span class="active-word">
      <strong ng:show="signInProgress()">Being signed:</strong>
      <strong ng:hide="signInProgress()">Just signed:</strong>
      <span class="instructions">(hidden)</span>
      <span class="word">{{getLastWord()}}</span>
    </span>
    <span class="clearfix"></span>
  </div><!--//.tip-->

  <label for="speed">
    <input type="number"
           name="speed"
           step="0.25"
           min="0.25"
           max="10"
           ng-model="config.letter_delay"/>
    seconds per letter
  </label>
  <p class="history"
     ng:show="config.spelled_history.length">
    {{config.spelled_history.length}} words spelled.
  </p>
</div><!--//.tools-->
