<div class="asl-spell" data-asl-spell="{{config.active_sign}}">
  <pre class="debug">DEBUG INFO:<br />{{config | json}}</pre>

  <div class="cropper">
     <label>
       <button class="btn btn-info"
               ng:show="config.spelled_history.length"
               ng:click="fingerSpellWord(getLastWord())">
         Re&ndash;spell
       </button>
       <span ng:show="respell_count">(respelled {{respell_count}} times)</span>
     </label>
    <div class="finger-sign" title="&quot;{{config.active_sign}}&quot; sign"></div>
  </div>

  <div class="spell-form">
    <label for="tospell">
      <button class="btn btn-primary"
              ng:click="spellPseudoRandomWord()">
        random word
      </button>

      or

      <input type="text"
             name="spell"
             placeholder="word to spell"
             ng:model="config.to_spell" />
      <button class="btn"
              type="submit"
              for="spell"
              ng:click="fingerSpellWord(config.to_spell)">spell</button>
    </label>

    <label for="speed">
      seconds per letter:
      <span class="seconds">{{config.letter_delay}}</span>
      <input type="range"
             name="speed"
             step="0.25"
             min="1"
             max="10"
             ng-model="config.letter_delay"/>
   </label>

   <hr />

   <div class="tip">
     <span class="active-word">
       <strong>Word Being Spelled:</strong>
      <span class="instructions">(hidden)</span>
      <span class="word">{{getLastWord()}}</span>
    <span>
   </div>
  </div>
</div><!--//.asl-spell-->
